* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;
    background: url(./src/img/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Navbar styles */
header .navbar {
    width: 100%;
    display: flex;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

header .navbar .logo {
    width: 120px;
    cursor: pointer;
}

.btn {
    width: 100px;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    cursor: pointer;
}

/* Buttom animiation style */
.animation {
    position: absolute;
    width: 0;
    background: hsl(177, 65%, 50%);
    border-radius: 30px;
    transition: 0.4s;
    bottom: 0;
    left: 0;
    z-index: -1;

}

.btn:hover .animation {
    width: 100%;
    height: 100%;
}

.btn:hover {
    border: none;
}

/*  Styles for .container */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
    color: #fff;

}

.container .content {
    width: 100%;
    height: 100%;
    padding-left: 10%;

}

.container .content .title {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;

}

.container .content .btn {
    width: 140px;


}

.container .links-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: hsl(226, 54%, 11%);
    padding: 30px 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.links-bar img {
    width: 28px;
    margin: 5px 0;
}

.links-bar .bar {
    width: 18px;
    transition: 0.4s;
}

.links-bar .bar .line {
    width: 100%;
    display: block;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 30px;
    transition: 0.3s;
    animation-delay: 0.5s;
}

.links-bar .bar:hover {
    transform: scale(1.2);
}

.links-bar .bar .line:nth-child(3) {
    width: 75%;
}

.links-bar .bar:hover .line:nth-child(1) {
    width: 50%;
}

.links-bar .bar:hover .line:nth-child(2) {
    width: 75%;
}

.links-bar .bar:hover .line:nth-child(3) {
    width: 100%;
}

.links-bar .social img:hover,
.links-bar .share img:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

/* Bubbles container */
.container .bubbles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -10vh;
    width: 100%;

}

.container .bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

/* Start animations for the bubbles */

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    70% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 35px;
}

.bubbles img:nth-child(2) {
    animation-delay: 4s;
    width: 25px;
}

.bubbles img:nth-child(3) {
    animation-delay: 1s;
    width: 45px;
}

.bubbles img:nth-child(4) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(5) {
    animation-delay: 6s;
    width: 50px;
}

.bubbles img:nth-child(6) {
    animation-delay: 5.5s;
    width: 35px;
}

.bubbles img:nth-child(7) {
    animation-delay: 9s;
    width: 25px;
}